batch_size: 4
epochs: 55
model_output_path: "output/model/pems08/decoder-conv/epoch_v3_{}_model.pt"
model_input_path: "output/model/pems08/decoder-conv/epoch_v2_44_model.pt"
load_saved_model: False
edge_dim: 1
input_dim: 1
enc_seq_len: 36
dec_seq_len: 16
dec_seq_offset: 4 # Indicates how many timesteps in the previous hour consider as inputs in the decoder

adj_filename: "data/PEMS08/PEMS08.csv"
graph_signal_matrix_filename: "data/PEMS08/PEMS08.npz"
graph_signal_matrix_filename_asgtnn: "data/PEMS08/PEMS08_r1_d1_w1.npz"
num_of_vertices: 170
edge_attr_scaling: True
points_per_hour: 12
num_for_predict : 12
len_input: 12
dataset_name: "PEMS08"
num_of_weeks: 1
num_of_days: 1
num_of_hours: 1
num_of_days_target: 1
num_of_weeks_target: 1
graph_enc_input: False # IMPORTANT: Set true for all encode inputs if merge_emb is True
graph_dec_input: False
non_graph_enc_input: True
non_graph_dec_input: True
enc_features: 1 # To indicates multiple encoders (feature-wise). default is 1
merge_emb: False # Indicate whether the graph embeddings merge with non-graph embedding.
device: cuda
cross_attn_features: 1 # Used to indicates how many feature-wise cross attentions in the decoder
per_enc_feature_len: 36  # used in decoder cross attention (feature-wise cross attention)
dec_out_start_idx: 2 # When set decoder offset, this indicates the start index of the decoder output to calculate loss
dec_out_end_idx: -2 # When set decoder offset, this indicates the end index of the decoder output to calculate loss